table {
  width: 25%;
  justify-content: space-around;
  display: block;
  margin-left: 25px;
}

tr {
  width: 100%;
  display: block;
  border: 1px solid gray;
  margin-top: 5px;
}

th {
  display: block;
  width: 100%;
}

.card {
  width: inherit;
}

.last {
  margin-right: 25px;
}

.header {
  height: 30px;
}

input {
  width: 100%;
}
